<html>
  <head>
    <script language="javascript" src="http://localhost/testing/js/jquery.js"></script>
<script language="javascript" src="http://localhost/testing/js/bootstrap.js"></script>
<script language="javascript" src="http://localhost/testing/js/otroarchivo.js"></script>

  </head>
  <body>
    <header>
      <div class="block">
  <h1>Bloque de cabecera</h1>
  <p>Este es un bloque
</p>
</div>
    </header>
    <p> {{ content }} </p>
    <footer>
      <div class="block">
  <h1>bloque footer</h1>
  <p>Este es un bloque
</p>
</div>
    </footer>
    
  </body>
</html>