<html>
  <head>
    {{ template.scripts }}
  </head>
  <body>
    <header>
      {{ regions.header }}
    </header>
    <p> {{ regions.content }} </p>
    <footer>
      {{ regions.footer }}
    </footer>
    {{ template.bottomscripts }}
  </body>
</html>
